.container {
  margin: 0 auto;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.03);
}

.container img {
  width: 100%;
}

.main {
  margin: 0 auto;
  max-width: 1800px;
}

/* .hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 110px 0;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 100%;
}

.hero .photo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero .photo img {
  /* display: block; */
  width: 480px;
  height: 480px;
  border-radius: 50%;
  object-fit: cover;
}

.hero .text_box {
  flex: 1;
}
.hero .text_box h4 {
  font-size: 20px;
  font-weight: 700;
}

.hero .text_box h2 {
  margin: 46px 0;
  font-size: 80px;
  font-weight: 700;
}

.hero .text_box p {
  font-size: 17px;
  width: 80%;
}

/* .works */

.works {
  padding: 80px;
}

.container h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding-top: 100px;
  /* margin-bottom: 60px; */
}

.works .btns {
  text-align: center;
  margin-bottom: 50px;
}

.works .btns button {
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.works .btns button.active {
  font-weight: 700;
}

.works .btns button.active::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #222;
}

.works ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.works ul li .photo {
  cursor: pointer;
  height: 330px;
}

.works .list li:hover .photo {
  box-shadow: 2px 2px 20px 2px rgba(51, 51, 51, 0.2);
}

.works ul li .photo img {
  height: 100%;
  object-fit: cover;
}

.works ul li .title {
  padding: 20px 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.works ul li .titles {
  padding: 20px 0 16px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.works ul li .title h3 {
  font-size: 20px;
  font-weight: 700;
}

.works ul li .title p {
  font-size: 17px;
}

.icon {
  display: flex;
  gap: 8px;
}

.icon > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon .pc {
  background-image: url(../images/Device/monitor.png);
}

.icon .mb {
  background-image: url(../images/Device/mobile.png);
}

.top {
  margin-top: 100px;
  font-weight: 500;
}

.intro {
  margin: 200px 0;
}

.intro .top {
  padding-bottom: 40px;
  border-bottom: 1px dotted #999;
}

.intro .social {
  margin-top: 50px;
  display: flex;
  color: #666;
}

.intro .socialIcon {
  background-image: url(../images/Github\ -\ Original.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 23px;
  height: 23px;
  margin-left: 10px;
}

.bottom {
  margin-top: 50px;
  display: flex;
}

.bottom > table {
  flex: 1;
}

thead {
  display: block;
  margin-bottom: 20px;
}

thead > tr > td {
  font-weight: 500;
  font-size: 18px;
}

tbody > tr > th,
tbody > tr > td {
  font-weight: 400;
  font-size: 16px;
}

th {
  text-align: left;
  width: 200px;
}

tr {
  margin-bottom: 10px;
}

.skills {
  margin: 100px 0;
}

.skills h3 {
  font-weight: 500;
  font-size: 18px;
}

.skillIcons {
  display: flex;
  margin-top: 20px;
}

.skillIcons > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.skillIcons .icon1 {
  background-image: url("../images/social/Photoshop.png");
}

.skillIcons .icon2 {
  background-image: url("../images/social/Illustrator.png");
}
.skillIcons .icon3 {
  background-image: url("../images/social/Figma.png");
}
.skillIcons .icon4 {
  background-image: url("../images/social/Premiere\ Pro.png");
}
.skillIcons .icon5 {
  background-image: url("../images/social/After\ Effects.png");
}
.skillIcons .icon6 {
  background-image: url("../images/social/html5-plain-wordmark.png");
}
.skillIcons .icon7 {
  background-image: url("../images/social/javascript-plain.png");
}
.skillIcons .icon8 {
  background-image: url("../images/social/jquery-plain-wordmark.png");
}
.skillIcons .icon9 {
  background-image: url("../images/social/vscode-original-wordmark.png");
}
.skillIcons .icon10 {
  background-image: url("../images/social/r-original.png");
}

@media (max-width: 576px) {
  .gnb {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 100%;
    background-color: #fff;
    width: 100%;

    transition: all 0.25s;
  }

  .gnb.active {
    left: 0;
  }

  .gnb li a {
    height: 100px;
    line-height: 100px;
    padding: 0 60px;
    font-size: 24px;
  }

  .header .bars {
    display: block;
    position: fixed;
    top: 18px;
    right: 18px;
    z-index: 1;
  }

  /* .hero */
  .hero {
    padding: 0;
    flex-direction: column-reverse;
    gap: 44px;
  }

  <<<<<<< HEAD .hero .text_box {
    text-align: center;
  }
  ======= .hero .photo {
    width: initial;
    position: initial;
  }

  .hero .photo img {
    border-radius: 0;
  }

  .hero .photo::after {
    display: none;
  }

  /* .skills */
  .skills {
    flex-wrap: wrap;
  }

  .skills .item {
    padding: 60px 50px;
  }

  /* .works */

  .works ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 45px;
  }
  >>>>>>>1bde082162baa6e5f5a7d70532206628bf5d11ce .hero .text_box h2 {
    margin: 30px 0;
    font-size: 48px;
  }

  .hero .text_box p {
    font-size: 15px;
    width: initial;
    padding: 0 20px;
  }

  .hero .photo {
    width: initial;
    position: initial;
  }

  .hero .photo img {
    border-radius: 0;
  }

  .hero .photo::after {
    display: none;
  }

  /* .skills */
  .skills {
    flex-wrap: wrap;
  }

  .skills .item {
    padding: 60px 50px;
  }

  /* .works */

  .works ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 45px;
  }
}
